.main {
    min-height: 100vh;
    background-image: url('../img/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main__header {
    width: 100%;
    padding: 40px 0;
    z-index: 3;
    transition: all 0.5s;
    border-bottom: 1px solid grey;
}

.main__wrapper {
    max-width: 1130px;
    margin: 0 auto;
}

.main__row {
    display: flex;
    justify-content: flex-end;
}

.main__item {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 37px;
    color: $c1;
    margin-right: 40px;
    transition: 0.4s all;
}

.padding-bottom-text {
    padding-bottom: 20px;
}

.main__item:hover, .main__item:focus, .main__item:active {
    border-bottom: 3px solid $c1;
    transition: 0.4s all;
}

.main__item:last-child{
    margin-right: 15px;
}

.main__header--fixed {
    position: fixed;
    background: $c5;
    border-bottom: 1px solid rgba(106, 27, 151, 0.425);
    top: 0;
    left: 0;
    padding: 20px 0;
    animation: showElement;
    animation-duration: 0.7s;
}

@keyframes showElement {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.main__text-information {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;    
    padding-bottom: 50px;
}

.main__p {
    margin-bottom: 20px;
}

.p--white-color {
    color: $c1;
    // transition: all 0.4s;
}

.p--white-color.margin-top-text {
    padding-top: 100px;
}


.main__h1 {
    margin-bottom: 50px;
}

.main__h1:after {
    content: 'Мы создаем легкие решения сложных задач и проблем';
}

@media (max-width: 815px) {
    .main__h1:after {
        content: 'Название компании';
    }  
    .main__wrapper {
        justify-content: space-around;
    }
}